.header {
    background-image: url("../images/assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
  background-size: cover;
background-position: center;}

img {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: auto;

  }

  h1  {
    text-align: center;
    color:white;
    }
    .ff{
      padding: 0px
    }
.party {
  background-color: red;


  padding-top: 50px;
  padding-bottom:25px;
}
.happy {
  background-color: white;
  padding-top: 25;
  padding-bottom: 50px;
}
.breakfast {
  padding-top: 200px;
  background-image: url("../images/assets/foodtop/breakfast.jpg");
}
